.container{
    padding: 0px;
    height: 184px;
    width: 184px;
    /* overflow: hidden; */
    /* overflow: scroll; */
    /* overflow: auto; */
    border: 1px solid darkgray;
}
.container li{
    float: left;
}
.element{
    /* visibility: hidden; */
    /* display: none; */
    display: block;
}